.main-profile {
  background-image: url("./assets/bulb-2352163_1280.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
  color: aliceblue;
}

.nav {
  background-color: aquamarine;
  opacity: 0.5px;
}
